@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


@import "./reset-css.css";
@import "./components/alert/alert.css";
@import "./components/avatar/avatar.css";
@import "./components/badge/badge.css";
@import "./components/card/card.css";
@import "./components/chip/chip.css";
@import "./components/dialogue/dialogue.css";
@import "./components/drawer/drawer.css";
@import "./components/header/header.css";
@import "./components/snackbar/snackbar.css";
@import "./components/tab-bar/tab-bar.css";



:root{
    --primary-color: #059669;
    --rgba-primary-color-hover: 5, 150, 105, 0.1;
    --secondary-color: white;

    --black: #000000;
    --white: white;
    --rgba-light-theme-hover: 255, 255, 255, 0.1;
    --grey-subtle: #F2F2F2;
    --grey-secondary: #757575;

    --rgba-box-shadow: 0, 0, 0, 0.1;
    --description-text: #757575;

    --alert-success-light-font-color: #00b341;
    --rgba-alert-success-light-background-color: 0, 173, 64, 0.43;
    --alert-error-light-font-color: #ff4500;
    --rgba-alert-error-light-background-color: 250, 67, 0, 0.39;
    --alert-warning-light-font-color: #ffbf00;
    --rgba-alert-warning-light-background-color: 255, 191, 0, 0.3;
    --alert-info-light-font-color: #00abfb;
    --rgba-alert-info-light-background-color: 31, 184, 255, 0.53;
}

body{
    background: #dedede;
    padding: 15rem;
    font-family: 'Open Sans', sans-serif;
}

.comp-lib-hr {
    margin: 2rem;
}
.comp-lib-h1 {
    margin: 2rem;
}
.comp-lib-h2 {
    margin: 1rem;
}


