/*  Card Component Starts */
.card{
    display: grid;
    width: 20rem;
    height: auto;
    background: var(--white);
    border-radius: 0.25rem;
    overflow: hidden;

}

.card__img {
    grid-area: cardImg;
    width: 6rem;
    height: 6rem;
}

.card__info {
    grid-area: cardInfo;
}

.card__actions {
    grid-area: cardActions;
}

.card__info {
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
}
.card__primary-text{
    font-size: 1.25rem;
    color: var(--black);
}
.card__secondary-text{
    color: var(--grey-secondary);
}

.card__description {
    grid-area: cardDesc;
    padding: 0.25rem;
    color: var(--grey-secondary);
    /* display: none; */
}

.card__actions {
    display: flex;

    min-height: 2rem;
    padding: 0.5rem;
    align-items: center;

}

.card__button {
    color: var(--primary-color);
    padding: 0.5rem;
}

.card__icons {
    margin-left: auto;
}
.card__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
}

/*  Card Component Starts -- Basic */
.card-basic {
    grid-template-areas: 'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardInfo     cardInfo     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardInfo     cardInfo     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardDesc     cardDesc     cardDesc    cardDesc    cardDesc    cardDesc'
                         'cardActions cardActions cardActions cardActions cardActions cardActions';
}
.card__img--basic {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/*  Card Component Ends -- Basic */

/*  Card Component Starts -- Basic with Text over Media */
.card-basic-text-over-media {
    grid-template-areas: 'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardDesc     cardDesc     cardDesc    cardDesc    cardDesc    cardDesc'
                         'cardActions cardActions cardActions cardActions cardActions cardActions';
}
.card__img--basic-text-over-media {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card__info--basic-text-over-media {
    grid-area: cardImg-start / cardImg-start / cardImg-end / cardImg-end;
    margin-top: auto;
}

.card__primary-text--basic-text-over-media {
    color: var(--white);
}
.card__secondary-text--basic-text-over-media {
    color: var(--white);
}
/*  Card Component Ends -- Basic with Text over Media */


/*  Card Component Starts -- Basic with Header */
.card-basic-text-header {
    grid-template-areas: 'cardInfo     cardInfo     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardDesc     cardDesc     cardDesc    cardDesc    cardDesc    cardDesc'
                         'cardActions cardActions cardActions cardActions cardActions cardActions';
}
.card__img--basic-text-over-media {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card__info--basic-text-header {
    grid-area: cardInfo;
    margin-top: auto;
}

/*  Card Component Ends -- Basic with Header */


/*  Card Component Starts -- Basic only buttons */
.card-basic-only-buttons {
    grid-template-areas: 'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardInfo     cardInfo     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardInfo     cardInfo     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardDesc     cardDesc     cardDesc    cardDesc    cardDesc    cardDesc'
                         'cardActions cardActions cardActions cardActions cardActions cardActions';
}
.card__img--basic-only-buttons {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__icons-only-buttons {
    display: none;

}
/*  Card Component Ends -- Basic  only buttons */


/*  Card Component Starts -- Basic only Icons */
.card-basic-only-icons {
    grid-template-areas: 'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardImg     cardImg     cardImg    cardImg    cardImg    cardImg'
                         'cardInfo     cardInfo     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardInfo     cardInfo     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardDesc     cardDesc     cardDesc    cardDesc    cardDesc    cardDesc'
                         'cardActions cardActions cardActions cardActions cardActions cardActions';
}
.card__img--basic-only-icons {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__buttons--basic-only-icons {
    display: none;

}
/*  Card Component Ends -- Basic  only button */


/*  Card Component Starts -- Horizontal Image and Text */
.card-img-text-side-by-side {
    grid-template-areas: 'cardImg     cardImg     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardImg     cardImg     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardImg     cardImg     cardInfo    cardInfo    cardInfo    cardInfo'
                         'cardActions cardActions cardActions cardActions cardActions cardActions';
}

.card__description-none {
    display: none;
}
/*  Card Component Ends -- Horizontal Image and Text */


/*  Card Component Ends */
